body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.card {
  background-color: #fff;
  border-radius: 17px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* max-width: auto; */
  width: 100%;
  /* margin-left: 10px ;
  margin-right: 10px; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.pokemon-name {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background: #797979;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pokemon-type {
  display: flex;
  padding: 12px;
  font-size: 18px;
  color: #000000;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  align-items: center

  
}
.color {
  background-color: #e4e4e4;
}
.pokemon-ability {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 18px;
  color: #000000;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ability{
display: flex;
justify-content: space-between;
}

.size {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.img-mewtwo {
  margin-bottom: 10px;
  max-width: 100%;
  height: 342px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  margin-left: 10px ;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .center {
    flex-direction: row;
  }
  .img-mewtwo {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.card2 {
  display: flex;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: 15px;
  border-radius: 0.25rem;
}

.stats {
  display: flex;
  flex-direction: column ;
}

.image-size{
  height: 20px;
  width: 20px;
}

